body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pokedex {
    background-color: rgb(255, 0, 0);
    width: 320px;
    height: 470px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    position: relative;
}

.pokedex-depth {
    width: 330px;
    height: 480px;
    background-color: rgb(204, 0, 0);
    position: absolute;
    top: -2px;
    z-index: -1;
    border-style: solid;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 8px;
    border-width: 2px;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.1);
}

.small-light {
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    margin: 2px;
    border-color: black;
    border-style: solid;
}

.large-light {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-right: 5px;
    background-color: rgb(57, 164, 200);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
}

.screen {
    background-color: white;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    align-self: center;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.light-container {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.controls {
    margin-top: 10px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
}

.img-container {
    background-color: rgba(124, 178, 97, 0.5);
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-style: solid;
}

.pokemon-img {
    height: 150px;
}

.pokemon-stats {
    margin-top: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
